#################################################
# FAN
#################################################

[heater_fan heatbreak_cooling_fan] 
pin: PC7
max_power: 1
kick_start_time: 0.5
off_below: 0.13
cycle_time: 0.01
#pin: PB15

[heater_fan controller_fan]
pin: PB15
#pin: PC7

[fan]
pin: PC6
max_power: 1.0
kick_start_time: 0.5
off_below: 0.13
cycle_time: 0.01
#pin: PB15

[temperature_fan btt_pi_cooler]
pin: FAN_PI:gpio211
max_power: 1.0
kick_start_time: 0.500   # Kürzerer Kickstart ist oft ausreichend (Standard: 0.100)
sensor_type: temperature_host
min_temp: 10
max_temp: 70
control: watermark
target_temp: 50.0
# Die folgenden Parameter sind für 'control: watermark' effektiver:
max_delta: 5.0           # Hysterese: Lüfter geht bei 50+5=55°C auf max_speed und bei 50-5=45°C auf shutdown_speed (min_speed wird ignoriert)
shutdown_speed: 0.0      # Bei Unterschreiten von (target_temp - max_delta) stoppt der Lüfter komplett
# min_speed: 0.2         # Nicht benötigt bei 'watermark' mit shutdown_speed: 0.0
max_speed: 1.0           # Max. Geschwindigkeit